@mixin MaterialIcons_FontDef($FontPath, $FontName:"MaterialIcons", $FontVersion:"2.1.0", $FontType:"Regular") {
    src: local('Material Icons'),
    local('#{$FontName}-#{$FontType}'),
    url('#{$FontPath}/#{$FontName}-#{$FontType}.woff2?v=#{$FontVersion}') format('woff2'),
    url('#{$FontPath}/#{$FontName}-#{$FontType}.woff?v=#{$FontVersion}') format('woff'),
    url('#{$FontPath}/#{$FontName}-#{$FontType}.ttf?v=#{$FontVersion}') format('truetype');
}

@function MaterialIcons_Content($codepoint) {
    @return unquote('"\\#{$codepoint}"');
}

@mixin MaterialIcons_Icon($name, $pseudo: 'before') {
    $codepoint: map-get($MaterialIcons_Codepoints, $name);
    &:#{$pseudo} {
        content: MaterialIcons_Content($codepoint);
    }
}