@import 'codepoints.scss';
$MaterialIcons_FontPath: "./fonts" !default;
$MaterialIcons_FontName: "MaterialIcons" !default;
$MaterialIcons_FontVersion: "2.1.0" !default;
$MaterialIcons_DefaultFontSize: 24px;
$MaterialIcons_DefaultFontClassName: "material-icons";
